body {
  font-family: "Arial", sans-serif;
  background-color: #f3f2ff !important;
  padding-top: 70px;
}
section {
  padding-top: 50px;
}

header {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-nav.ml-auto {
  justify-content: flex-end;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
  color: #4a4a4a;
  font-size: 16px;
}

.navbar-toggler {
  margin-left: auto;
}
.best-title {
  font-weight: 400;
  font-size: 24px;
  color: #2d3748;
}

.position-relative {
  position: relative;
}

.search-input {
  width: 100%;
  padding-right: 40px;
  font-size: 14px;
  border-radius: 22px;
  border: 1px solid;
  color: #007bff;
  transition: background-color 0.3s, color 0.3s;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: grey;
  font-size: 16px;
  pointer-events: none;
}

@media (max-width: 576px) {
  .btn {
    margin-bottom: 20px;
  }
}

.best {
  padding: 32px 0;
  background-color: #f3f2ff;
}
.best .d-flex {
  align-items: center;
}
.best button {
  white-space: nowrap;
}
.overflow-auto {
    overflow-x: auto;     
    white-space: nowrap;   
}

.overflow-auto::-webkit-scrollbar {
    display: none;  
}

.overflow-auto {
    -ms-overflow-style: none; 
    scrollbar-width: none;     
}

.card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
}

.card-title {
  font-weight: bold;
  font-size: 20px;
  color: #4a4a4a;
}

.price {
  font-weight: 700;
  color: #e53e3e;
}

.btn-available {
  background-color: #e53e3e;
  color: white;
  border-radius: 12px;
  padding: 2px 8px;
  font-size: 12px;s
}

.btn-order {
  color: #38a169;
  font-weight: 600;
}
