body {
  background-color: #f3f2ff !important;
}

.card {
  margin-bottom: 20px;
}
.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 0.75rem;
}

.card-body p {
  font-size: 1rem;
  color: #555;
}

#paymentProof {
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.mb-3 label {
  font-weight: 500;
  color: #333;
}

.alert {
  margin-bottom: 20px;
}

.detail-card {
  background-color: #fff;
  border: 1px solid #dee2e6;
  padding: 20px;
  border-radius: 5px;
}

.detail-card h5 {
  margin-bottom: 20px;
}

.detail-card .total {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fd7e14;
}

.btn-primary {
  background-color: #6f42c1;
  border-color: #6f42c1;
}

.btn-primary:hover {
  background-color: #5a379e;
  border-color: #5a379e;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}
