* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loginPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.loginPage img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  margin: 0px 10px 0px 0px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.login-content {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2rem;
}

.login-content img {
  width: 150px;
  height: 120px;
  position: absolute;
  top: 0px;
  right: -40px;
}

.login-content h2 {
  font-family: sans-serif;
  margin: 80px 0px 0px 80px;
}

.login-content p {
  font-family: sans-serif;
  margin-left: 80px;
}

.login-content form {
  font-family: sans-serif;
  margin: 40px 120px 1rem 80px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px; /* Adds space between the label and input */
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

form button {
  padding: 10px;
  border-radius: 10px;
  color: white; /* Sets the text color */
  border: none; /* Removes the default border */
  border-radius: 5px; /* Rounds the button corners */
  cursor: pointer;
  background-image: linear-gradient(to right, #d9d6ff 0%, #5d58af 100%);
  transition: background 0.3s ease;
}

@media (max-width: 1024px) {
  .loginPage {
    grid-template-columns: 1fr;
    height: auto;
  }

  .loginPage img {
    display: none;
  }

  .login-content {
    margin-top: 20px; /* Adds some margin at the top */
    padding: 1rem; /* Adjusts padding */
  }

  .login-content h2,
  .login-content p {
    margin: 0 20px;
  }

  .login-content form {
    margin: 20px 20px; /* Reduces margins for smaller screens */
  }
}

@media (max-width: 768px) {
  .login-content h2 {
    font-size: 1.5rem; /* Adjusts font size */
  }

  .login-content p {
    font-size: 1rem; /* Adjusts font size */
  }

  .login-content form {
    margin: 20px 20px; /* Further reduces margins */
  }
}

@media (max-width: 480px) {
  .loginPage {
    grid-template-columns: 1fr;
    height: auto;
  }

  .login-content h2 {
    font-size: 1.25rem; /* Further reduces font size */
    margin-top: 60px; /* Adjusts top margin */
  }

  .login-content p {
    font-size: 0.875rem; /* Reduces font size */
  }

  .login-content form {
    margin: 0 10px; /* Minimizes form margin for small screens */
  }

  form button {
    font-size: 0.875rem; /* Reduces button font size */
    padding: 8px; /* Adjusts button padding */
  }
}
